// Definimos los colores

// Definimos Variables
$yellow: #fffa19;
$red: #cc0000 !important;
$green: #00b300;

// Definimos mixin
@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $yellow;
    color: black;
    // margin-top: 50px;
    //@include margenes(50px, 0px);
}

.footer {
    padding: 10px 10px 0 10px; 
    background-color: $red;
    color: black;
    @include margenes(10px, 0px);
}