// Definimos variables less
@yellow:  #fffa19;
@red: #cc0000 !important;
@green: #00b300 !important;

// Definimos los mixin
.margenes(@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @green;
    color: black;
    // margin-top: 50px;
    // margin-bottom: 0px;
    .margenes(50px, 0px;)
}

footer {
    padding: 10px 10px0 10px; 
    background-color: @red;
    color: black;
    //margin-top: 10px;
    .margenes(60px, 0px;)
}