.jumbotron {
  background-color: #00b300 !important;
  color: black;
  margin-top: 50px, 0px;
  margin-bottom: 0px;
}

.footer {
  padding: 10px 10px 0 10px;
  background-color: #cc0000 !important;
  color: black;
  margin-top: 60px, 0px;
  margin-bottom: 0px;
}
